@charset "UTF-8";
/* CSS Document */
body {
	font-size: 10px;
}

* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	background: #EBEBEB;
}

#tile-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 750px;
	height: 600px;
	transform-origin: 700px 0;
	transition: all 1s;
}

.row {
	position: relative;
	width: 100em;
	overflow: hidden;
}

.tile {
	position: relative;
	width: 200px;
	height: 120px;
	margin-right: 50px;
	margin-bottom: 50px;
	display: inline-block;
}

#view-window {
	position: absolute;
    width: 700px;
    height: 550px;
    margin: 0 auto;
    overflow: hidden;
    left: 50%;
    margin-left: -350px;
    margin-top: 100px;
}

.arrow {
	position: absolute;
	display: none;
	width: 0;
	height: 0;
	z-index: 50;
}

#arrow-up {
	border-left: 26px solid transparent;
	border-right: 26px solid transparent;
	border-bottom: 52px solid pink;
	left: 50%;
	margin-left: -13px;
	top: 99px;
}

#arrow-down {
	border-left: 26px solid transparent;
	border-right: 26px solid transparent;
	border-top: 52px solid pink;
	left: 50%;
	margin-left: -13px;
	top: 631px;
}

#arrow-left {
	border-top: 26px solid transparent;
	border-right: 52px solid pink;
	border-bottom: 26px solid transparent;	
	left: 50%;
    margin-left: -422px;
    top: 366px;
}

#arrow-right {
	border-top: 26px solid transparent;
	border-left: 52px solid pink;
	border-bottom: 26px solid transparent;
	left: 50%;
    margin-left: 370px;
    top: 366px;
}